.spin-loader{
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


.loader-wrapper{
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}  